.feed__input {
  box-sizing: border-box;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.feed__input > * {
  height: 64px;
}

.feed__input textarea {
  width: 80%;
  resize: none;
}

.feed__input__status {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feed__post__btn {
  width: 10%;
}
